body {
  background-color: rgb(243, 243, 243);
  font-size: 18px;
}

h1 {
    color: rgb(12, 173, 167);
    font-family: Georgia;
    font-weight: bold;
}

h3 {
   color: rgb(12, 173, 167);
   font-family: Georgia;
   font-weight: bold;
}

p {
 font-family: Georgia;
}

a {
  text-decoration-color: white;
  -webkit-tap-highlight-color: white;
}

.container-fluid {
  background-color: white;
}

a {
  color: black;

}

.navbar-brand {
  background-color: rgb(12, 173, 167);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size:28px;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
  .navbar {
    background-color: rgb(12, 173, 167);
  }

  .navbar-brand {
                background-color:rgb(12, 173, 167);
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bold;
                color:  white;
  }
}