body {
  background-color: rgb(243, 243, 243);
}

h1 {
    color: rgb(12, 173, 167);
    font-family: Georgia;
    font-weight: bold;
}

h3 {
   color: rgb(12, 173, 167);
   font-family: Georgia;
   font-weight: bold;
}

a {
  text-decoration-color: white;
  -webkit-tap-highlight-color: white;
}

  .container-fluid {
    background-color: white;
  }

a {
  color: black;

}

.nav-link.dropdown-toggle {
  background-color: rgb(12, 173, 167);
  color: black;
}

.navbar-brand {
  background-color: rgb(12, 173, 167);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size:28px;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media screen and (max-width: 1020px) {
  .container-fluid {
    background-color:rgb(12, 173, 167);
  }
}