body {
  background-color: rgb(243, 243, 243);
}

h1 {
    color: rgb(12, 173, 167);
    font-family: Georgia;
    font-weight: bold;
}

h2 {
  color: white;
  font-family: Georgia;
  font-weight: bold;
}

h3 {
   color: rgb(12, 173, 167);
   font-family: Georgia;
   font-weight: bold;
}

.navbar-brand {
  background-color: rgb(12, 173, 167);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size:28px;
}

.navbar {
  background-color: white;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media screen and (max-width: 1020px) {
  .navbar {
    background-color: rgb(12, 173, 167);
  }
}